<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img
                    ng-src="http://placecorgi.com/450/300"
                    alt="placeholder"
                    width="450"
                    height="300">
            </div>
            <div class="col-md-7">
                <h1>
                    fairfield football club
                    <p class="lead">a league constitution</p>
                </h1>
                <em>created on thursday, the twenty-fifth of july in god's year of two thousand and thirteen</em>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3 sidebar">
            <ul
                class="nav nav-stacked affix"
                id="sidebar">
                <li><a
                    href="#preamble"
                    scroll-to="preamble"
                    prevent-default>preamble</a></li>
                <li><a
                    href="#founding-league-members"
                    scroll-to="founding-league-members"
                    prevent-default>founding league members</a></li>
                <li><a
                    href="#governing-body"
                    scroll-to="governing-body"
                    prevent-default>governing body</a></li>
                <li><a
                    href="#league-members"
                    scroll-to="league-members"
                    prevent-default>league members</a></li>
                <li><a
                    href="#league-setup"
                    scroll-to="league-setup"
                    prevent-default>league setup</a></li>
                <li><a
                    href="#draft-process"
                    scroll-to="draft-process"
                    prevent-default>draft process</a></li>
                <li><a
                    href="#roster-moves"
                    scroll-to="roster-moves"
                    prevent-default>roster moves</a></li>
                <li><a
                    href="#regular-season"
                    scroll-to="regular-season"
                    prevent-default>regular season</a></li>
                <li><a
                    href="#playoffs"
                    scroll-to="playoffs"
                    prevent-default>playoffs</a></li>
                <li><a
                    href="#payouts"
                    scroll-to="payouts"
                    prevent-default>payouts</a></li>
                <li><a
                    href="#disgraceful-punishment-for-sucking"
                    scroll-to="disgraceful-punishment-for-sucking"
                    prevent-default>disgraceful punishment for sucking</a></li>
                <li><a
                    href="#amendments"
                    scroll-to="amendments"
                    prevent-default>amendments</a></li>
            </ul>
        </div>

        <div
            id="scroller"
            class="col-md-9"
            scroller-spy
            data-target="#sidebar"
            data-scroll-offset="50">
            <hr />
            <h2 id="preamble">preamble</h2>
            we the people of the fairfield football club fantasy football league, in order to form a more perfect union of sarcastically aggressive banter
            amongst peers and grudgingly difficult transactions of personal finances, establish justification of smug condenscension at the peoples' perceived
            knowledge of the game of american football, insure domestic tranquility on the sundays, mondays, and occasional thursday and saturday that the
            people of the league must keep sacred, provide for the common defence and offence with which the teams of the people prove their worth, promote the
            general welfare of all players of the game of american football so they may remain free of heinous crime and veinous drug as they currently do so
            exist, and secure the blessings of victory to thine self and thine own posterity, do ordain and establish this constitution for the fantasy football
            league of the fairfield football club.


            <hr />
            <h2 id="founding-league-members">the founding league members</h2>
            <p>the fairfield football club fantasy football league was founded by the following brave souls:</p>
            <ul class="no-list-style">
                <li>adam "white paul pierce" barlow</li>
                <li>chris "red shorts" banten</li>
                <li>eric "president big bush" d'elia</li>
                <li>rob "robby i-balls" intrieri</li>
                <li>charlie "lord of the tale" kollar</li>
                <li>brendan "glory boy" lane</li>
                <li>nick "the dick-tator" makes</li>
                <li>brian "black irish" mcardle</li>
                <li>rob "the wedding planner" pigue</li>
                <li>dan "statman ('ski bi di bi di do bap do')" pogoda</li>
                <li>mark "daddy's boy" rodgers</li>
                <li>alex "deep v's & tight jeans" voucas</li>
                <li>mike "the yurkinator" yurkerwich</li>
            </ul>
            <p>and also founded by:
            <ul class="no-list-style">
                <li>rich "dicky v" velotta</li>
            </ul>

            <hr />
            <h2 id="governing-body">governing body</h2>

            <h3>the senior board (the sb)</h3>
            <p>the senior board, herafter referred to as the sb, will be comprised of 4 active league managers.</p>
            <p>active league managers are defined as persons managing (or co-managing) a fantasy football team for the upcoming and/or current nfl season.
                their status as an active league manager is not determined nor affected by seasons prior or future.</p>
            <p>
                the sb will be responsible for selecting or re-administering the commish prior to each fantasy season's draft day, each year.<br />in the event
                of a tied vote for a new commish, the vote will then be opened up to the rest of the league. in the event this vote still remains tied, the
                league's most recent commish, who still remains an active league manager, will reside as the current year's commish.
            </p>
            <p>active league managers may choose to step down from residing on the sb during any off-season but not in the middle of the fantasy season, and
                it will become the remaining sb's duty to select a new member at such a time.</p>
            <p>the sb will handle all issues such as league complaints and suggestions towards enhancing the league's settings. input shall be accepted from
                any active league manager by the sb, who will in turn decide whether or not this issue needs resolving.</p>

            <h3>the league commissioner (the commish)</h3>
            <p>the commish does not have autonomous rule over the league and may be removed from office through a vote by the sb (either unanimously or with
                at most one vote of contention).</p>
            <p>the commish will be responsible for running day-to-day operations of the league in the fairest manner possible; subsequently requiring the
                commish to interpret the terms outlined in this charter in conjunction with the rules provided by yahoo! fantasy football in order to deem the
                most appropriate course of action.</p>
            <p>the commish is responsible for ensuring league continuity from season to season.</p>
            <p>the commish is responsible for maintaining and updating this charter when deemed necessary by the sb.</p>
            <p>the commish is responsible for handling all league finances related to collection and distribution.</p>

            <hr />
            <h2 id="league-members">league members</h2>

            <p>as this is the inaugural season for this league's formalities, the commish has took it upon himslef to initially elect the members of the sb
                based upon past exemplified enthusiasm for the sport:</p>
            <ul class="no-list-style">
                <li>adam "white paul pierce" barlow</li>
                <li>chris "red shorts" banten</li>
                <li>eric "president big bush" d'elia</li>
                <li>mark "daddy's boy" rodgers</li>
            </ul>
            <p>there will be 14 league managers per season, no more and no less.</p>
            <p>should a different number of managers be required for any season, this addition/subtraction must occur in twos.</p>
            <p>all returning managers retain the right for "first dibs" on procuring a team for the next season provided they have not been previously
                banned.</p>

            <h3>bannings</h3>
            <p>bannings will be instituted by the sb based on a majority vote and must be upheld for a minimum of 1 season and a maximum of a lifetime
                sentence.</p>
            <p>bannings will be issued as a result of franchise negligence, failure to pay league fees in a timely manner and/or for reasons currently
                beyond comprehension but for which, at said time, the sb demms banning appropriate through majority vote.</p>
            <p>the sb, in conjunction with the commish, will be responsible for setting the weekly lineup for any and all banned franchises during
                mid-season to ensure fair matchups for all managers throughout the season. a banned franchise will not allowed to pick up free agents via the
                waiver wire and will have to wait until the waiver period has ended before picking up any necessary position players to field a full roster.</p>

            <hr />
            <h2 id="league-setup">league setup</h2>

            <h3>league fees</h3>
            <p>league fees will equal the entry fee for each manager. currently there are no league setup fees due to the use of a paid third party vendor.</p>
            <p>
                the entry fee, which constitutes each manager's contributions to the league's prize pool, is <a href="#">$125</a>.
            </p>
            <p>
                league fees will be due by 11:59pm on the sunday prior to week 1's first scheduled game. this means they must reach the commish by this time
                either in person or via PayPal.
                <del>the commish has no interest in signing up for venmo at this time.</del>
                yeah that was dumb, venmo's great.
            </p>
            <p>as noted before, failure to pay league fees will result in deliberation of the sb to determine if banning is required.</p>

            <h3>rosters</h3>
            <p>
                each team roster will be comprised of <a href="#">15</a> players. at a minimum, a team must field an active qb, 2 rbs, 2 wrs, 1 te, 1 flex
                player (defined as a rb, wr, or te), 1 k, and 1 d/st.
            </p>
            <p>should a manager neglect these rules, the sb will deliberate whether or not these actions were intentional with premeditated malice towards
                blemishing the integrity of the league.</p>
            <p>a banning may be a suitable punishment in this instance. you jerk.</p>

            <h3>scoring</h3>
            <p>
                specific points per football play are defined on the league's home page under the <a href="#">"scoring and settings"</a> section. i'm not typing
                those out.
            </p>
            <p>negative points and decimal points will be implemented.</p>
            <p>this is not a points per reception league nor do encourage the use of bonus points.</p>
            <p>
                the league will adhere to any and all stat corrections deemed appropriate by <a href="#">yahoo! fantasy football</a>, in addition to any of the
                matchup result repercussions that may occur afterwards.
            </p>

            <p>the sb can also choose to implement stat corrections based on majority vote. the commish will in turn edit the matchup results where
                appropriate based on the advice provided by the sb.</p>

            <h3>divisions</h3>
            <p>
                there will be two 7-team divisions: <a href="https://www.youtube.com/watch?v=rqdxHwaxrNM">cuttlefish & asparagus vs. vanilla paste</a>.
            </p>
            <p>teams will be placed into divisions based on their draft order of the current season. all odd numbered draft picks in round 1 will be placed
                in cuttlefish & asparagus and all even numbered draft picks in round 1 will be placed in vanilla paste.</p>
            <p>the teams that win their respective divisions will subsequently be guaranteed one of the top two seeds for the post season.</p>
            <p>
                the win-loss records, in addition to <a href="#">yahoo! fantasy sport's</a> default tiebreaking rules, will determine this relative seeding.
            </p>
            <p>the divisions become irrelevant when deciding the four additional wild card spots in the post-seasons. simply the next four best teams will
                be competing for the championship.</p>

            <strong>halftime</strong>
            <div class="row">
                <div class="col-md-4">
                    <img
                        ng-src="http://placecorgi.com/720/480"
                        class="img-responsive">
                </div>
                <div class="col-md-4">
                    <img
                        ng-src="http://placecorgi.com/720/480"
                        class="img-responsive">
                </div>
                <div class="col-md-4">
                    <img
                        ng-src="http://placecorgi.com/720/480"
                        class="img-responsive">
                </div>
            </div>

            <hr />
            <h2 id="draft-process">draft process</h2>

            <p>it is expected that all active league managers make reasonable attempts at arranging and joining a draft day party. it is expected this party
                have plenty of beers, either a grill for barbecue or a table for pizza, ample seating, ample electical outlets, and ample wifi.</p>
            <p>the draft order will be determined in a random fashion. the commish and at least one active league manager must video tape this process and
                publish it to the league so that no fraudulent behavios is possible.</p>
            <p>
                managers will have <a href="#">60</a> seconds to select a draft pick in each round.
            </p>
            <p>any active league manager who is able to draft purple jesus before he is able to fall to mark rodgers immediately becomes a favorite of the
                commish for that football season. this applies for any future all-stars that may play for the minnesota vikings as well (doubtful).</p>
            <p>the draft will be of a snake type where picks are made sequentially and not in auction format.</p>
            <p>the draft date must occur after the first scheduled preseason game is played but before the first scheduled regular season game is played.</p>
            <p>outside of those draft date boundaries, a best effort must be made by the commish to select a date that ensures a maximum number of managers
                may attend the draft to avoid auto-picking.</p>

            <hr />
            <h2 id="roster-moves">roster moves</h2>

            <h3>add/drop players</h3>
            <p>any player dropped from a team will immediately be placed on waivers in accordance with the leagues settings.</p>
            <p>
                the league will utilize yahoo! fantasy football's proprietary <a href="#">"can't cut" list</a>.
            </p>

            <h3>waivers</h3>
            <p>the waiver period will be from game time to tuesday.</p>
            <p>game time means that all unowned players will be placed on waivers at the scheduled start time of their game. in game time waivers, players
                on a bye week will be placed on waivers monday night at 8:30pm est.</p>
            <p>tuesday means that the claim period ends at 2:59am est on wednesday morning, or thereabouts.</p>
            <p>once the claim period ends, every team's waiver claims will be executed on a priority basis. if two teams have a waiver claim on the same
                player, the team with a higher priority will receive said player.</p>
            <p>waiver priority initially begins as the reverse of the draft order. once a team has a waiver claim processed successfully, they immediately
                drop to the bottom of the waiver priority list.</p>

            <h3>trades</h3>
            <p>active league managers have 2 days to protest any pending league trades.</p>
            <p>a minimum of 1/3 of the league needs to protest a trade for it to be vetoed. for a 14 team league, this means a minimum of 5 votes.</p>
            <p>trades will never be pushed through if they are accepted with less than 2 days before a given week's games are scheduled to begin.</p>
            <p>
                if a trade is overturned, the franchises involved in the trade have the right to request a roll call of the who voted against the trade. those
                franchises that voted against that trade will then be required to state the reasoning behind their vote within two days. the sb will then
                deliberate and vote on the final outcome of this trade.<br />this process also must be allowed two full days. the sb then must make a best
                effort to produce a ruling on the trade's outcome as quickly as possible to avoid any team receiving points from players that are not rightfully
                theirs.
            </p>
            <p>any incidental points received from illegally owned players must count as is until the sb is able to determine a more fair process.</p>

            <h3>trading draft picks</h3>
            <p>offseason trades involving draft picks are allowed as long as they are considrered "equal value".</p>
            <p>"equal value" amongst draft pick trades involves trading any number of pairs of draft picks between managers that does not result in a net
                gain for either side.</p>
            <p>in a 14 team league, an "equal value" trade between the managers with the first and last picks would be sending the 1st and 28th overall
                draft selections for the 14th and 15th overall draft selections. in this case, the two draft picks sum up to the same number, so they are "equal
                value".</p>
            <p>the exectuion of this trade will proceed as follows. at the time of each manager's newly acquired pick, they must simply instruct the other
                manager who to draft out of the player pool. the players are then traded between the teams following the completion of the draft but prior to
                the start of the first scheduled game in week 1.</p>
            <p>once a deal is reached between managers, it must be announced to the commish prior to the completion of the first of the draft picks invovled
                for it to be official. once official, the commish retains the right to manually force the trade should either of the invovled parties get "cold
                feet".</p>

            <hr />
            <h2 id="regular-season">regular season</h2>
            <p>the regular season schedule will span from week 1 to week 13.</p>
            <p>each team will play every other team once.</p>
            <p>rosters are not locked all at once. instead, players are individually locked once their game's start time has passed.</p>
            <p>it is each manager's responsibility to enusre rosters are properly set. if in the case of computer technical difficulties, said mananger may
                reach out to the commish and inquire if he is able to get access to a computer to set the roster on behalf of the computer-less manager. this
                can only be done on a best efforts basis by the commish.</p>
            <p>the sb will in turn decide if the commish was negligent in his duties to help out the computer-less manager or if the computer-less manager
                was in fact lying and merely creating a front for purposefully fixing a week's matchup. banning is an appropriate measure of discipline in
                either of these cases if the sb deems it so.</p>

            <hr />
            <h2 id="playoffs">playoffs</h2>
            <p>the three-round playoffs will take place during week 14 through week 16.</p>
            <p>
                the team that wins its respective division will be awarded a first round bye in the playoffs via a 1 or 2 seeding, determined by the relative
                records and <a href="#">yahoo! fantasy football default tiebreakers</a> between these two teams.
            </p>
            <p>the four remaining wild card playoff spots will be determined irrespective of divisions. simply the four best remaining records (with yahoo!
                fantasy football default tiebreakers included) garner seeds 3 through 6 for the playoffs.</p>
            <p>teams eliminated from the post-season will be locked from making any roster moves.</p>

            <hr />
            <h2 id="payouts">payouts</h2>
            <p>the payouts will be totaled in terms of units.</p>
            <p>
                1 unit is the equivalent of 1 team's entry fee. in this case, with no league fees other than the entry fee, 1 unit is <a href="#">$125</a>.
            </p>
            <table>
                <tbody>
                    <tr>
                        <th>regular season points champion</th>
                        <td>1 unit</td>
                    </tr>
                    <tr>--
                    </tr>
                    <tr>
                        <th>1st place in post-season</th>
                        <td>9 units</td>
                    </tr>
                    <tr>
                        <th>2nd place in post-season</th>
                        <td>3 units</td>
                    </tr>
                    <tr>
                        <th>3rd place in post-season</th>
                        <td>1 units</td>
                    </tr>
                </tbody>
            </table>
            <p>in addition to payouts, the last place team upon the completion of the regular season is required to perform the 'disgraceful punishment for
                sucking so bad'.</p>

            <hr />
            <h2 id="disgraceful-punishment-for-sucking">disgraceful punishment for sucking so bad</h2>
            <p>this has yet to be determined.</p>
            <p>but it should be as embarassing as this:</p>
            <img
                ng-src="http://placecorgi.com/720/480"
                class="img-responsive">

            <hr />
            <h2 id="amendments">amendments</h2>
            <p>all amendments proposed by active league managers must receive majority approval from the sb prior to the current season's scheduled draft
                date.</p>
            <p>all amendments proposed during the season will be reviewed at the end of the current season and not be made applicable to the current season.</p>
            <p>all amendments to this charter will be named by the active league manager who caused or identified the problem.</p>
            <!--
            * new entry fee
            * fathead process
            * venmo 
            * 15 players on roster
            # 60 second draft pick time
             -->
            <h3>venmo's aight, i guess</h3>
            <p></p>

            <h3>salary adjustment</h3>
            <p></p>

            <h3>the nagging charlie</h3>
            <p></p>

            <h3>fat head process</h3>
            <p></p>

            <h3>gone in sixty seconds</h3>
            <p></p>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="muted">hand rolled on january 21, 2016</p>
    </div>
</footer>