body {
    padding-top: 50px;
}

@media ( max-width : 992px) {
    body {
        padding-top: 0px;
    }
}

/** TODO: copying this over -- should refactor this and make cleaner */
#masthead {
    min-height: 270px;
}

#masthead h1 {
    font-size: 55px;
    line-height: 1;
}

@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 100px;
    }
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;
    top: 55px;
}

#sidebar li.active {
    border: 0 #eee solid;
    border-left-width: 4px;
}

.content {
    padding-bottom: 30px;
}

.content h2 {
    padding-top: 30px;
    margin-top: -30px;
}

.no-list-style {
    list-style: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3A3F44;
}

.scroller-pane {
    height: 200px;
    overflow: auto;
}